
    <section class="navbar-sticky-bottom bg-dark text-center text-white footer">
        <div class="container p-1 mt-3" >
            <p>Author: Omar Khudhair / Mebarkia Mohamed / Mohamed Wafi / Zhi Bo</p>
            <a href="/" class="navbar-brand"><img class="headerImg" src="/Images/logo.png" style="width: 70px; height: 70px;"></a>
        </div>
    </section>
