<header>
    <nav style="width: 100%;">
       <div style="text-align: left;" > 
        <ul>
            
            <li><a href="/"><img src="/Images/logo.png"></a></li>
            <li><a href="/">Home</a> </li>
            <li><a href="/recherche">Recherche</a></li>
            <% if (loginedUser){ %>
               <li><a href="/reservations">Mes Réservations</a></li>    
                <% if (loginedUser.Droit_id ==  99 || loginedUser.Droit_id == 1){ %>
                    <li>
                        <a href="/gestion">Gestion</a>
                        <ul>
                            <li><a href="/gestion/ModificationClient">Modifier l'informations du client</a></li>
                            <li><a href="/gestion/Reservation">Réserver et Annuler les livres</a></li>
                            <li><a href="/gestion/empruntretour">Emprunt et Retour</a></li>
                            <li><a href="/gestion/Livre">Gestion du livre</a></li>
                            <li><a href="/gestion/caisse">La caisse</a></li>
                            <% if (loginedUser.Droit_id ==  99 ){ %>
                                <li><a href="/gestion/employees">Gestion des employées</a></li>
                            <% } %>
                        </ul>                   
                    </li>
                <%} %>
                

            <% } %>
            
        </ul>
    </div>
    <!-- Début du menu déroulant -->
    <div style="float: right; background-color: blue; ">
        <ul style="">
            <li class="logoP" style="padding-right:50px; ">
                <% if (loginedUser == null){ %>
                    <img src="/Images/profile.png" alt="Profil" class="logo">
                <% } else{ %>
                    <img src=<%=loginedUser.Photo%>  alt="Profil" class="logo">
                <%} %>
                
                <ul>
                    <% if (loginedUser == null){ %>    
                        <li id="login"><a href="/login">Login</a> </li> 
                    <% } else{ %>
                <!--Lorsque Modifier Profil est sélectionné-->

                        <li  id="profil"><a href="/profil">Profil</a></li>   
                        <li  id="modifierProfil"><a href="/Modifier">Modifier les informations</a></li>   
                        <li  id="modifierMotDePasse"><a href="/ModifierMotDePasse">Modifier le mot de passe</a></li>  
                        <li  id="historiqueEmprunts"><a href="/HistoriqueDesEmprunts">Modifier les informations</a></li>  

                        <li id="deconnection"><a href="/logout">Déconnexion</a></li>
                    <%} %>
            
            
                </ul> 

            </li>
        </ul>
    </div>
    </nav>

    <script>
        
        //Lorsque le URL contient /Profils/, cela signifie que l'utilisateur a réussi à se connecter, donc il peut se déconnecter
        // //Et le contraire est aussi valable
        //  if (document.getElementById("isLogin").value == "false"){
        //     //profil
        //     document.getElementById("deconnection").hidden = true; 
        //     document.getElementById("login").hidden = false;
        //     document.getElementById("modifierProfil").hidden = true;         
        //     document.getElementById("modifierMotDePasse").hidden = true; 
        //     document.getElementById('historiqueEmprunts').hidden=true;         
        // }else{
        //     //not in profil
        //     document.getElementById("deconnection").hidden = false;
        //     document.getElementById("login").hidden = true;  
        //     document.getElementById("modifierProfil").hidden = false;  
        //     document.getElementById("modifierMotDePasse").hidden = false;  
        //     document.getElementById('historiqueEmprunts').hidden=false;    
        // }
    </script>
</header>