<header>
        <nav>
        <ul>
            <li> <img src="/Images/logo.png"></li>
        <li><a href="/">Home</a> </li>
        <li><a href="/recherche">Recherche</a></li>
        
        <!-- Début du menu déroulant -->
        <li class="logoP"><img src="/Images/profile.png" alt="Profil" class="logo">
        <ul>

        <li id="deconnection"><a href="/">Déconnection</a></li>
        <li id="login"><a href="/login">Login</a> </li>
        </ul> 

        </li></ul>
        </nav>

        <script>
            if (!window.location.href.includes("/profils/")){
                //profil
                console.log(window.location.href);
                document.getElementById("deconnection").hidden = true; 
                document.getElementById("login").hidden = false;                  
            }else{
                //not in profil
                document.getElementById("deconnection").hidden = false;
                document.getElementById("login").hidden = true;  
            }
        </script>
</header>