<header>
    <nav>
    <ul>
        <li> <img src="/Images/logo.png"></li>
    <li><a href="/">Home</a> </li>
    <li><a href="/recherche">Recherche</a></li>
    
    <!-- Début du menu déroulant -->
    <li class="logoP">
        <% if (loginedUser == null){ %>
            <input type="hidden" id="isLogin" value="false">
            <img src="/Images/profile.png" alt="Profil" class="logo">
        <% } else{ %>
            <input type="hidden" id="isLogin" value="true">
            <img src=<%=loginedUser.Photo%>  alt="Profil" class="logo">
        <%} %>
         
    <ul>
    <li id="login"><a href="/login">Login</a> </li> 
    <!--Lorsque Modifier Profil est sélectionné-->


    <li  id="modifierProfil"><a href="/Modifier">Modifier les informations</a></li>   
    <li  id="modifierMotDePasse"><a href="/ModifierMotDePasse">Modifier le mot de passe</a></li>  
    <li  id="historiqueEmprunts"><a href="/HistoriqueDesEmprunts">Modifier les informations</a></li>  

    <li id="deconnection"><a href="/">Déconnexion</a></li>

    
    
    </ul> 

    </li></ul>
    </nav>

    <script>
        
        //Lorsque le URL contient /Profils/, cela signifie que l'utilisateur a réussi à se connecter, donc il peut se déconnecter
        //Et le contraire est aussi valable
         if (document.getElementById("isLogin").value == "false"){
            //profil
            document.getElementById("deconnection").hidden = true; 
            document.getElementById("login").hidden = false;
            document.getElementById("modifierProfil").hidden = true;         
            document.getElementById("modifierMotDePasse").hidden = true; 
            document.getElementById('historiqueEmprunts').hidden=true;         
        }else{
            //not in profil
            document.getElementById("deconnection").hidden = false;
            document.getElementById("login").hidden = true;  
            document.getElementById("modifierProfil").hidden = false;  
            document.getElementById("modifierMotDePasse").hidden = false;  
            document.getElementById('historiqueEmprunts').hidden=false;    
        }
    </script>
</header>