<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/style.css">
    </head>


<body class="acceuil">
<div class="Titre">
<h1>Bienvenue sur BiblioClick !</h1>
</div>


<div class="slider"> 
    <div class="slides">
        <div class="slide" ><img class="accImg" src="/images/livreImage1.jpg" alt="image1"></div>
        <div class="slide"><img class="accImg" src="/images/livreImage2.jpg" alt="image2"></div>
        <div class="slide"><img class="accImg" src="/images/livreImage3.jpg" alt="image3"></div>
    </div>    
</div>  



</body>
<footer class="f">
    <p>Author: Omar Khudhair / Mebarkia Mohamed / Mohamed Wafi / Zhi Bo</p>
    <img src="/Images/logo.png" class="logo">
</footer>
</html>
