<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/style.css">
    </head>


    <body>

        <h2>Bonjour <%=loginedUser.Prenom%> <%=loginedUser.Nom%></h2>
        <br>
        <div>
            <h3>Choisir un option</h3>
        </div>
        <div>
            <button>Modifier les informations du client</button>
        </div>
        <div>
            <button onclick="window.location='/gestion/reservation'">Gestion des réservations</button>
        </div>
        <div>
            <button onclick="window.location='/gestion/empruntretour'">Emprunt/Retour</button>
        </div>
        <div>
            <button>Gestion du livre </button>
        </div>
        <div>
            <button onclick="window.location='/gestion/caisse'">La caisse</button>
        </div>
        <div>
            <% if (loginedUser.Droit_id == 99 ){ %>
                <button id="gestionEmployee">Gestion des employées</button>
            <% } %>
        </div>


    </body>
    <footer class="f">
        <%- include ('../views/partials/footer.ejs') %>
    </footer>
</html>
