<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/CSS/style.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <%- include ('../views/partials/header.ejs') %>
        <title>Gestion des reservations</title>
        
    </head>
    <header>
        
    </header>

    <body>
        <div class="box">
            <div class="section">
                <section class="pt-5">
                    <div class="container">
                        <h1 id="title" class="fw">Gestion des réservations</h1>
                    </div>           
                </section>
                
                <section class="p-3">
                    <div class="container">
                        <form id="formRechercheClient">
                            <div class="mb-3">
                                <label for="telClient" class="form-label">Téléphone du client : </label>
                                <input class="form-control" type="tel" id="telClient" name="telClient" placeholder="Téléphone du client" maxlength="10" onchange="telChange()" aria-describedby="telHelp">
                                <div id="telHelp" class="form-text">Lorem ipsum dolor sit amet.</div>
                            </div> 
                            <input type="text" id="idClient" hidden>    
                            <div class="mb-3">
                                <button class="btn btn-primary" type="button" id="btnRechercheClient" onclick="rechercheClient()">Recherche</button>
                            </div>
                        </form>
                    </div>
                </section>


                <div id ="divFindCustomer" hidden = true>
                    <section class="p-3">
                        <div class="container">
                            <p id="pName"></p>
                            <p id="pTel"></p>
                            <p id="pEmail" ></p>
                            <p id="pNbPret"></p>
                            <p id="pSolde"></p>            
                        </div>          
                    </section>
                    <section class="p-3">
                        <div class="container">
                            <button class="btn btn-sm btn-primary" type="button" id="ListReservationClient" onclick="ListReservationClient()">Consulter la liste des réservations</button>
                        </div>
                    </section>
                    
                    <section class="p-3">
                        <div class="container">
                            <h3>Réserver un livre</h3>
                            <form>
                                <div class="mb-3">
                                    <label for="isbnLivre" class="form-label">ISBN du livre :</label>
                                    <input class="form-control" type="text" id="isbnLivre" name="isbnLivre" placeholder="ISBN du Livre" aria-describedby="isbnHelp">
                                    <div id="isbnHelp" class="form-text">L'ISBN se trouve près du code barre de tous les livres</div>
                                </div>
                                <input type="text" hidden> 
                                <button class="btn btn-sm btn-primary" type="button" id="btnReserver" onclick="Reserver()">Réserver</button>               
                            </form>
                        </div>
                    </section>                      
                </div>
                <!-- class section -->
            

            </div>
        <%- include ('../views/partials/footer.ejs') %>
    </div>
    </body>
    <script>

        axios.defaults.baseURL = 'http://localhost:4000'
        function telChange(){
            document.getElementById('ListReservationClient').disabled = true;
            document.getElementById('btnReserver').disabled = true;
        }

        function rechercheClient(){
            document.getElementById('ListReservationClient').disabled = false;
            document.getElementById('btnReserver').disabled = false;
           if (document.getElementById("telClient").value.trim() != ""){                         
               axios.post('/gestion/findCustomer', {                   
                       tel: document.getElementById("telClient").value.trim()
               }).then(res=>{
                   if (res.data.message){
                       alert(res.data.message)
                       document.getElementById('pName').innerHTML = ''
                       document.getElementById('pTel').innerHTML = ''
                       document.getElementById('pEmail').innerHTML = ''
                       document.getElementById('pNbPret').innerHTML = ''
                       document.getElementById('pSolde').innerHTML = ''
                       document.getElementById('idClient').value = '';
                       document.getElementById('divFindCustomer').hidden = true
                   }else{
                       document.getElementById('pName').innerHTML = "Utilisateur trouvé : " + res.data.client.Prenom + " " + res.data.client.Nom
                       document.getElementById('pTel').innerHTML = "Téléphone : " + res.data.client.Telephone
                       document.getElementById('pEmail').innerHTML = "Email : " + res.data.client.Email
                       document.getElementById('pNbPret').innerHTML = "Nombre de prêts : " + res.data.client.NbPret
                       document.getElementById('pSolde').innerHTML = "Solde : " + res.data.client.Solde
                       document.getElementById('idClient').value = res.data.client._id;
                       document.getElementById('divFindCustomer').hidden = false
                   }
               })
            } else{
                alert("Entrer le numero du telephone pour un recherche du client");
            }
        }

        function ListReservationClient(){
            window.location='/gestion/reservation/' + document.getElementById('telClient').value;
        }

        function Reserver(){
            axios.post('/livres/:isbn', {                   
                isbn: document.getElementById('isbnLivre').value,
                client_id: document.getElementById('idClient').value
               }).then(res=>{
                alert(res.data.message);
               })
        }

        

    </script>

</html>
