<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/CSS/style.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <%- include ('../views/partials/header.ejs') %>
        <title>La Caisse</title>
        
    </head>
    <header>
        
    </header>

    <body>
        <div class="box">
            <div class="section">
                <section class="pt-5">
                    <div class="container">    
                        <h1 id="title" class="fw">La Caisse</h1>
                    </div>
                </section>
                    
                <section class="p-3">
                    <div class="container">
                        <form id="formRechercheClient" action="#" method="post">
                        <div class="mb-3">
                            <label for="telClient" class="form-label">Telephone du client :</label>
                            <input class="form-control" type="tel" id="telClient" name="telClient" placeholder="Telephone du client" maxlength="10" onchange="telChange()" aria-describedby="telHelp">
                            <div id="telHelp" class="form-text">Lorem ipsum dolor sit amet.</div>
                        </div>
                        <input type="text" id="idClient" hidden>    
                        <button class="btn btn-sm btn-primary" type="button" id="btnRechercheClient" onclick="rechercheClient()">Recherche</button>
                        </form>        
                    </div>
                </section>
                      
                <div id ="divFindCustomer" hidden = true>  
                    <section class="p-3">
                        <div class="container">
                            <p id="pName"></p>
                            <p id="pTel"></p>
                            <p id="pEmail" ></p>
                            <p id="pNbPret"></p>
                            <p id="pSolde"></p>        
                        </div>
                    </section>
        
                    <section class="p-3">
                        <div class="container">
                            <h3>Recharger ou Facturer</h3>
                            <form id="formCaisse">
                                    <div class="mb-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="radioRecharger" name="choix" value="radioRecharger" onclick="RadioRecharger()">
                                            <label class="form-check-label" for="radioRecharger">Recharger le compte de client</label> 
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="radioFacturer" name="choix" value="radioFacturer" onclick="RadioFacturer()">
                                            <label class="form-check-label" for="radioFacturer">Facturer le client</label>
                                        </div>
                                        <% if (loginedUser.Droit_id == 99 ){ %>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="radioRemboursement" name="choix" value="radioRemboursement" onclick="RadioRemboursement()">
                                                <label class="form-check-label" for="radioRemboursement">Remboursement</label>
                                            </div>
                                        <% } %>
                                    </div>
                                <div id="divRechargerFacturer" hidden="true">
        
                                    <div class="mb-3" id="divMethodePaiement">
                                        <label for="methodePaiement" class="form-label mb-3">Methode de Paiement:</label>
                                        <select id="methodePaiement" class="form-select" aria-label="Default select example" aria-describedby="methodePaiementHelp">
                                            <option value="Comptant">Comptant</option>
                                            <option value="Visa">Visa</option>
                                            <option value="Mastercard">Mastercard</option>
                                            <option value="Amex">American Express</option>
                                            <option value="Debit">Carte de debit</option>
                                          </select>
                                        <div id="methodePaiementHelp" class="form-text">ISBN se trouve près de code a bar de tous les livres</div>
                                    </div>
        
                                    <div class="mb-3">
                                        <label for="montant" class="form-label">Montant: </label>
                                        <input class="form-control" type="text" id="montant" placeholder="ex: 10.99" pattern="[0-9.]" aria-describedby="montantHelp">
                                        <div id="montantHelp" class="form-text">ISBN se trouve près de code a bar de tous les livres</div>
                                    </div>
        
                                    <div class="mb-3">
                                        <label for="titre" class="form-label">Sujet: </label>
                                        <input class="form-control" type="text" id="titre" aria-describedby="titreHelp">
                                        <div id="titreHelp" class="form-text">Le sujet est obligatoire</div>
                                    </div>
        
                                    <div class="mb-3">
                                        <label for="commentaire" class="form-label">Commentaire: </label>
                                        <textarea id="commentaire" rows="6" cols="50" class="form-control" aria-describedby="commentaireHelp"></textarea>
                                        <div id="commentaireHelp" class="form-text">Laisser les discriptions ou les commantaires de la transcation ici</div>
                                    </div>
                             
        
                                    <button class="btn btn-sm btn-primary" type="button" id="btnRechargerFacturer" onclick="Submit()"></button>
                                </div>                               
                            </form>  
                        </div>
                    </section> 
                </div>

            </div>
            <%- include ('../views/partials/footer.ejs') %>
        </div>
    </body>
    <script>

        axios.defaults.baseURL = 'http://localhost:4000'
        function telChange(){
           document.getElementById('btnRechargerFacturer').disabled = true;
        }

        function rechercheClient(){
           document.getElementById('btnRechargerFacturer').disabled = false;
           if (document.getElementById("telClient").value.trim() != ""){                         
               axios.post('/gestion/findCustomer', {                   
                       tel: document.getElementById("telClient").value.trim()
               }).then(res=>{
                   if (res.data.message){
                       alert(res.data.message)
                       document.getElementById('pName').innerHTML = ''
                       document.getElementById('pTel').innerHTML = ''
                       document.getElementById('pEmail').innerHTML = ''
                       document.getElementById('pNbPret').innerHTML = ''
                       document.getElementById('pSolde').innerHTML = ''
                       document.getElementById('idClient').value = '';
                       document.getElementById('divFindCustomer').hidden = true
                   }else{
                       document.getElementById('pName').innerHTML = "Utilisateur trouvé : " + res.data.client.Prenom + " " + res.data.client.Nom
                       document.getElementById('pTel').innerHTML = "Telephone : " + res.data.client.Telephone
                       document.getElementById('pEmail').innerHTML = "Email : " + res.data.client.Email
                       document.getElementById('pNbPret').innerHTML = "Nombre de pret : " + res.data.client.NbPret
                       document.getElementById('pSolde').innerHTML = "Solde : " + res.data.client.Solde
                       document.getElementById('idClient').value = res.data.client._id;
                       document.getElementById('divFindCustomer').hidden = false
                   }
               })
            } else{
                alert("Entrer le numero du telephone pour un recherche du client");
            }
        }

        function RadioRecharger(){
            if(document.getElementById('radioRecharger').checked){
                document.getElementById('divRechargerFacturer').hidden = false;
                document.getElementById('divMethodePaiement').hidden = false;
                document.getElementById('titre').value = "Recharger le compte";
                document.getElementById('commentaire').innerHTML = "Recharger le compte";
                document.getElementById('btnRechargerFacturer').innerHTML = "Recharger le compte";
            }          
        }


        function RadioFacturer(){
            if(document.getElementById('radioFacturer').checked){
                document.getElementById('divRechargerFacturer').hidden = false;
                document.getElementById('divMethodePaiement').hidden = true;
                document.getElementById('titre').value = "";
                document.getElementById('titre').placeholder = "Entrer le sujet";
                document.getElementById('commentaire').innerHTML = "Facturer le client";
                document.getElementById('btnRechargerFacturer').innerHTML = "Facturer le client";
            }
        }

        function RadioRemboursement(){
            if(document.getElementById('radioRemboursement').checked){
                document.getElementById('divRechargerFacturer').hidden = false;
                document.getElementById('divMethodePaiement').hidden = false;
                document.getElementById('titre').value = "";
                document.getElementById('titre').placeholder = "Entrer le sujet";
                document.getElementById('btnRechargerFacturer').innerHTML = "";
                document.getElementById('commentaire').placeholder = "Entrer la raison du remboursement";
                document.getElementById('btnRechargerFacturer').innerHTML = "Remboursement";
            }
        }

        function Submit(){
            if (!document.getElementById('montant').value){ 
                return alert("Entrer le montant")
            } else if (!document.getElementById('titre').value){
                return alert("Entrer le sujet")
            } else{
                var montant = parseFloat(document.getElementById('montant').value)
                var methodePaiement = document.getElementById('methodePaiement').value;
                if (document.getElementById('radioFacturer').checked){
                    montant = -montant;
                    methodePaiement = null;
                }
                axios.post('/gestion/caisse', {     
                    MethodePaiement: methodePaiement, 
                    Cout: montant,
                    Utilisateur_id: document.getElementById('idClient').value,         
                    Titre: document.getElementById('titre').value,
                    Commentaire: document.getElementById('commentaire').value
               }).then(res=>{
                    alert(res.data.message);
                    rechercheClient();
               })
            }
        }

    </script>

</html>
