<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/CSS/style.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <%- include ('../views/partials/header.ejs') %>
        <title>Emprunts et retours</title>
        
    </head>
    <header>
        
    </header>

    <body>
        <div class="box">
            <div class="section">
                <section class="pt-5">
                    <div class="container">    
                        <h1 id="title" class="fw">Emprunt et Retour</h1>
                    </div>
                </section>
                
                <section class="p-3">
                    <div class="container">
                        <form id="formRechercheClient" action="#" method="post">
                        <div class="mb-3">
                            <label for="telClient" class="form-label">Téléphone du client :</label>
                            <input class="form-control" type="tel" id="telClient" name="telClient" placeholder="Telephone du client" maxlength="10" onchange="telChange()" aria-describedby="telHelp">
                            <div id="telHelp" class="form-text"></div>
                        </div>
                        <input type="text" hidden>    
                        <button class="btn btn-primary" type="button" id="btnRechercheClient" onclick="rechercheClient()">Rechercher</button>
                        </form>        
                    </div>
                </section>
                
        
                <div id ="divFindCustomer" hidden = true>
        
                <section class="p-3">
                    <div class="container">
                        <!-- <label id="labelMessageAxios"></label> -->
                        
                            <p id="pName"></p>
                            <p id="pTel"></p>
                            <p id="pEmail" ></p>
                            <p id="pNbPret"></p>
                            <p id="pSolde"></p>
        
                    </div>
                </section>
        
        
                <section class="p-3">
                    <div class="container">
                        <form id="formEmpruntLivre" action="#" method="post"> 
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="radioEmprunt" name="choix" value="radioEmprunt">
                                    <label class="form-check-label" for="radioEmprunt">Emprunt</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="radioRetour" name="choix" value="radioRetour">
                                    <label class="form-check-label" for="radioRetour">Retour</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="radioPerdu" name="choix" value="radioPerdu">
                                    <label class="form-check-label" for="radioPerdu">Perdu</label>
                                </div>
                            </div>
        
        
                            <div class="mb-3">
                                <label for="telClient" class="form-label">ISBN du livre :</label>
                                <input class="form-control" type="text" id="isbnLivre" name="isbnLivre" placeholder="ISBN du Livre" aria-describedby="isbnHelp">
                                <div id="isbnHelp" class="form-text">L'ISBN se trouve près du code barre de tous les livres</div>
                            </div>
                            <input type="hidden" id="clientEmprunt" name="clientEmprunt" value="">  
                            <button class="btn btn-sm btn-primary" type="button" id="btnEmpruntRetour">Emprunt/Retour</button>
                        </form>
                    </div> 
                </section>
                <section class="p-3">
                    <div class="mb-3 container">
                            <p id="noteEmprunt"></p>
                    </div>                          
                </section>
                    
                <section>
                    <div class="mb-3 container">
                        <div class="row g-4">
                            <div class="col-md">
                                <button class="btn btn-sm btn-primary" id="btnHistorique">Livres empruntés</button>
                            </div>
                            <div class="col-md">
                                <button class="btn btn-sm btn-primary" id="btnNonRetourne">Livres non-retournés</button>
                            </div>
                            <div class="col-md">
                                <button class="btn btn-sm btn-primary" id="btnPerdu">Livres perdus</button>
                            </div>
                        </div>
                    </div>
                </section>
        
                <section class="p-3">
                    <div class="mb-3 container">
                        <div id="divHistorique" hidden="true"></div>
                        <div id="divNonRetourne"></div>
                        <div id="divPerdu" hidden="true"></div>
                    </div>
                </section>

            </div>
            <%- include ('../views/partials/footer.ejs') %>
        </div>
        

        
    </body>
    
    <script>
        var emprunts
        var livres
        //var isRechercheClicked = false;
        axios.defaults.baseURL = 'http://localhost:4000'
       
        
        function telChange(){
            //isRechercheClicked = false;
            document.getElementById('btnEmpruntRetour').disabled = true;
            // if (event.keyCode == 13){//enter key
            //     event.keyCode = 0;
            //     event.returnValue = false;
            //     console.log('client')
            // }

        }
        //document.getElementById('telClient')

        document.getElementById('telClient').onkeypress = function (event){
            if(event.which === 13){
                rechercheClient();
            }
        }

        function rechercheClient(){
            //isRechercheClicked = true;
            document.getElementById('btnEmpruntRetour').disabled = false;

            if (document.getElementById("telClient").value.trim() != ""){               
                //Ajax original
            //     const xhr = new XMLHttpRequest();
            //     xhr.responseType = 'json';
            //     xhr.open('POST', 'http://localhost:4000/findCustomer');
            //     xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
            //     xhr.send(document.getElementById("telClient").value.trim());
            //     /**
            //      * readystate:
            //      * 0: not initial
            //      * 1: open 
            //      * 2: send
            //      * 3: partial response
            //      * 4: full response             
            //     */
            //     xhr.onreadystatechange = function(){
            //         if (xhr.readyState === 4){
            //             if(xhr.status >= 200 && xhr.status < 300){//200 succes
            //                 document.getElementById('AjaxDiv').innerHTML = "Utilisateur trouvé : " + xhr.response.Prenom + xhr.response.Nom;
                            
            //             }
            //         }
            //     }

                
                //AXIOS 
                axios.post('/gestion/findCustomer', {                   
                        tel: document.getElementById("telClient").value.trim()
                }).then(res=>{
                    if (res.data.message){
                        alert(res.data.message)
                        document.getElementById('pName').innerHTML = ''
                        document.getElementById('pTel').innerHTML = ''
                        document.getElementById('pEmail').innerHTML = ''
                        document.getElementById('pNbPret').innerHTML = ''
                        document.getElementById('pSolde').innerHTML = ''
                        document.getElementById('clientEmprunt').value = ''
                        document.getElementById('divFindCustomer').hidden = true
                    }else{
                        // document.getElementById('labelMessageAxios').innerHTML = ''
                        document.getElementById('pName').innerHTML = "Utilisateur trouvé : " + res.data.client.Prenom + " " + res.data.client.Nom
                        document.getElementById('pTel').innerHTML = "Téléphone : " + res.data.client.Telephone
                        document.getElementById('pEmail').innerHTML = "Email : " + res.data.client.Email
                        document.getElementById('pNbPret').innerHTML = "Nombre de prêts : " + res.data.client.NbPret
                        document.getElementById('pSolde').innerHTML = "Solde : " + res.data.client.Solde
                        document.getElementById('clientEmprunt').value = res.data.client._id
                        document.getElementById('divFindCustomer').hidden = false
                        emprunts = res.data.historique
                        livres = res.data.livres
                        document.getElementById('clientEmprunt').value = res.data.client._id

                        //add in to table



                        
                        //tableHistorique                      
                        var divHistorique = document.getElementById('divHistorique')
                        while (divHistorique.hasChildNodes()) {
                            divHistorique.removeChild(divHistorique.firstChild);
                        }
                        var title = document.createElement('h3')
                        title.innerHTML = 'Historique du prêt'
                        var tableHistorique = document.createElement('table') 
                        tableHistorique.setAttribute('class', 'table table-striped')                       
                        divHistorique.appendChild(title)
                        divHistorique.appendChild(tableHistorique)
                        var oTr0= document.createElement('tr')
                        tableHistorique.appendChild(oTr0)
                        var oTh1 = document.createElement('th')
                        var oTh2 = document.createElement('th')
                        var oTh3 = document.createElement('th')
                        var oTh4 = document.createElement('th')
                        var oTh5 = document.createElement('th')
                        var oTh6 = document.createElement('th')
                        var oTh7 = document.createElement('th')
                        oTh1.innerHTML = 'ISBN'
                        oTh2.innerHTML = 'Titre'
                        oTh3.innerHTML = 'Auteur'
                        oTh4.innerHTML = 'Date du pret'
                        oTh5.innerHTML = 'Date de retour prevu'
                        oTh6.innerHTML = 'Date de retour ou pert'
                        oTh7.innerHTML = 'État'
                        oTr0.appendChild(oTh1)
                        oTr0.appendChild(oTh2)
                        oTr0.appendChild(oTh3)
                        oTr0.appendChild(oTh4)
                        oTr0.appendChild(oTh5)
                        oTr0.appendChild(oTh6)
                        oTr0.appendChild(oTh7)
                        



                        emprunts.forEach(emprunt => {
                            var oTr = document.createElement('tr')
                            tableHistorique.appendChild(oTr)
                            livres.forEach(livre => {
                                if (emprunt.Livre_id.toString() == livre._id.toString()){
                                    var oTd1 = document.createElement('td')
                                    var oTd2 = document.createElement('td')
                                    var oTd3 = document.createElement('td')
                                    oTd1.innerHTML = livre.ISBN
                                    oTd2.innerHTML = livre.Titre
                                    oTd3.innerHTML = livre.Auteur
                                    oTr.appendChild(oTd1)
                                    oTr.appendChild(oTd2)
                                    oTr.appendChild(oTd3)
                                }
                            })  
                            var oTd4 = document.createElement('td')
                            var oTd5 = document.createElement('td')
                            var oTd6 = document.createElement('td')
                            var oTd7 = document.createElement('td')
                            oTd4.innerHTML = new Date(emprunt.DatePret).getDate() + "-" + (new Date(emprunt.DatePret).getMonth()+1) + "-" + new Date(emprunt.DatePret).getFullYear()
                            oTd5.innerHTML = new Date(emprunt.DateRetourPrevu).getDate() + "-" + (new Date(emprunt.DateRetourPrevu).getMonth()+1) + "-" + new Date(emprunt.DateRetourPrevu).getFullYear()
                            if (emprunt.DateRetour != null){
                                oTd6.innerHTML = new Date(emprunt.DateRetour).getDate() + "-" + (new Date(emprunt.DateRetour).getMonth()+1) + "-" + new Date(emprunt.DateRetour).getFullYear()
                                if (emprunt.EstPerdu == true){
                                    oTd7.innerHTML = 'Perdu'
                                } else{
                                    oTd7.innerHTML = 'Retourné'
                                }
                            }else{
                                oTd6.innerHTML = ''
                                oTd7.innerHTML = 'Non retourné'
                            }                         
                            oTr.appendChild(oTd4)
                            oTr.appendChild(oTd5)
                            oTr.appendChild(oTd6)
                            oTr.appendChild(oTd7)                        
                        })


                        //tableNonRetourne


                        var divNonRetourne = document.getElementById('divNonRetourne')
                        while (divNonRetourne.hasChildNodes()) {
                            divNonRetourne.removeChild(divNonRetourne.firstChild);
                        }
                        var title = document.createElement('h3')
                        title.innerHTML = 'Livres non retourné'
                        var tableNonRetourne = document.createElement('table')
                        tableNonRetourne.setAttribute('class', 'table table-striped')                           
                        divNonRetourne.appendChild(title)
                        divNonRetourne.appendChild(tableNonRetourne)
                        var oTr0= document.createElement('tr')
                        tableNonRetourne.appendChild(oTr0)
                        var oTh1 = document.createElement('th')
                        var oTh2 = document.createElement('th')
                        var oTh3 = document.createElement('th')
                        var oTh4 = document.createElement('th')
                        var oTh5 = document.createElement('th')
                        var oTh6 = document.createElement('th')
                        oTh1.innerHTML = 'ISBN'
                        oTh2.innerHTML = 'Titre'
                        oTh3.innerHTML = 'Auteur'
                        oTh4.innerHTML = 'Date du pret'
                        oTh5.innerHTML = 'Date de retour prevu'
                        oTh6.innerHTML = 'Date de retour'
                        oTr0.appendChild(oTh1)
                        oTr0.appendChild(oTh2)
                        oTr0.appendChild(oTh3)
                        oTr0.appendChild(oTh4)
                        oTr0.appendChild(oTh5)
                        oTr0.appendChild(oTh6)
                        

                        emprunts.forEach(emprunt => {
                            if (emprunt.DateRetour == null){
                                var oTr = document.createElement('tr')
                                tableNonRetourne.appendChild(oTr)
                                livres.forEach(livre => {
                                    if (emprunt.Livre_id.toString() == livre._id.toString()){
                                        var oTd1 = document.createElement('td')
                                        var oTd2 = document.createElement('td')
                                        var oTd3 = document.createElement('td')
                                        oTd1.innerHTML = livre.ISBN
                                        oTd2.innerHTML = livre.Titre
                                        oTd3.innerHTML = livre.Auteur
                                        oTr.appendChild(oTd1)
                                        oTr.appendChild(oTd2)
                                        oTr.appendChild(oTd3)
                                    }
                                })
                            var oTd4 = document.createElement('td')
                            var oTd5 = document.createElement('td')
                            var oTd6 = document.createElement('td')
                            oTd4.innerHTML = new Date(emprunt.DatePret).getDate() + "-" + (new Date(emprunt.DatePret).getMonth()+1) + "-" + new Date(emprunt.DatePret).getFullYear()
                            oTd5.innerHTML = new Date(emprunt.DateRetourPrevu).getDate() + "-" + (new Date(emprunt.DateRetourPrevu).getMonth()+1) + "-" + new Date(emprunt.DateRetourPrevu).getFullYear()
                            oTd6.innerHTML = 'Non retourné'
                            oTr.appendChild(oTd4)
                            oTr.appendChild(oTd5)
                            oTr.appendChild(oTd6)
                            }

                        })

                        //tablePerdu
                        var divPerdu = document.getElementById('divPerdu')
                        while (divPerdu.hasChildNodes()) {
                            divPerdu.removeChild(divPerdu.firstChild);
                        }
                        var title = document.createElement('h3')
                        title.innerHTML = 'Livres non retourné'
                        var tablePerdu = document.createElement('table')
                        tablePerdu.setAttribute('class', 'table table-striped')                           
                        divPerdu.appendChild(title)
                        divPerdu.appendChild(tablePerdu)
                        var oTr0= document.createElement('tr')
                        tablePerdu.appendChild(oTr0)
                        var oTh1 = document.createElement('th')
                        var oTh2 = document.createElement('th')
                        var oTh3 = document.createElement('th')
                        var oTh4 = document.createElement('th')
                        var oTh5 = document.createElement('th')
                        var oTh6 = document.createElement('th')
                        oTh1.innerHTML = 'ISBN'
                        oTh2.innerHTML = 'Titre'
                        oTh3.innerHTML = 'Auteur'
                        oTh4.innerHTML = 'Date du pret'
                        oTh5.innerHTML = 'Date de retour prevu'
                        oTh6.innerHTML = 'Date de retour'
                        oTr0.appendChild(oTh1)
                        oTr0.appendChild(oTh2)
                        oTr0.appendChild(oTh3)
                        oTr0.appendChild(oTh4)
                        oTr0.appendChild(oTh5)
                        oTr0.appendChild(oTh6)

                        
                        emprunts.forEach(emprunt => {
                            if (emprunt.EstPerdu == true){
                                var oTr = document.createElement('tr')
                                tablePerdu.appendChild(oTr)
                                livres.forEach(livre => {
                                    if (emprunt.Livre_id.toString() == livre._id.toString()){ 
                                        var oTd1 = document.createElement('td')
                                        var oTd2 = document.createElement('td')
                                        var oTd3 = document.createElement('td')
                                        oTd1.innerHTML = livre.ISBN
                                        oTd2.innerHTML = livre.Titre
                                        oTd3.innerHTML = livre.Auteur
                                        oTr.appendChild(oTd1)
                                        oTr.appendChild(oTd2)
                                        oTr.appendChild(oTd3)
                                    }
                                })
                                var oTd4 = document.createElement('td')
                                var oTd5 = document.createElement('td')
                                var oTd6 = document.createElement('td')
                                oTd4.innerHTML = new Date(emprunt.DatePret).getDate() + "-" + (new Date(emprunt.DatePret).getMonth()+1) + "-" + new Date(emprunt.DatePret).getFullYear()
                                oTd5.innerHTML = new Date(emprunt.DateRetourPrevu).getDate() + "-" + (new Date(emprunt.DateRetourPrevu).getMonth()+1) + "-" + new Date(emprunt.DateRetourPrevu).getFullYear()
                                oTd6.innerHTML = new Date(emprunt.DateRetour).getDate() + "-" + (new Date(emprunt.DateRetour).getMonth()+1) + "-" + new Date(emprunt.DateRetour).getFullYear()
                                oTr.appendChild(oTd4)
                                oTr.appendChild(oTd5)
                                oTr.appendChild(oTd6)

                            }

                        })

                    }
                })
                //document.getElementById('formRechercheClient').submit();
            } else{
                alert("Entrer le numero du telephone pour un recherche du client");
            }
        }

        document.getElementById('radioEmprunt').addEventListener("click",()=>{
            if(document.getElementById('radioEmprunt').checked){
                document.getElementById('title').innerHTML = "Emprunt du livre"
                document.getElementById('btnEmpruntRetour').innerHTML = "Emprunt"
                document.getElementById('noteEmprunt').innerHTML = "Chaque utilisateur peut emprunter au maximum cinq livres<br>"+
                                                                   "Un utilisateur ne peut pas emprunter deux copies du même livre <br>" + 
                                                                   "La durée d'un prêt est au maximum de 14 jours. <br>" +
                                                                   "Une fois emprunté, le livre disparaît de la liste des réservations du client"
                                                                
            }
        })

        document.getElementById('radioRetour').addEventListener("click",()=>{
            if(document.getElementById('radioRetour').checked){
                document.getElementById('title').innerHTML = "Retour du livre"
                document.getElementById('btnEmpruntRetour').innerHTML = "Retour"
                document.getElementById('noteEmprunt').innerHTML = "Lorsqu'un utilisateur dépasse la date de retour prévue, des frais de 0.5$ sont ajoutés à son compte<br>"+
                                                                   "Les frais de retard peuvent atteindre une valeur maximale de 10$<br>"+
                                                                   "Le frais en retard seront déduits du compte de l'utilisateur.<br>"+
                                                                   "Les livres perdus doivent être affichés dans la catégorie des livres perdus"
            }
        })

        document.getElementById('radioPerdu').addEventListener("click",()=>{
            if(document.getElementById('radioPerdu').checked){
                document.getElementById('title').innerHTML = "Livre Perdu"
                document.getElementById('btnEmpruntRetour').innerHTML = "Livre Perdu"
                document.getElementById('noteEmprunt').innerHTML = "L'utilisateur doit signaler la perte d'un livre lorsque c'est le cas<br>"+
                                                                   "Le frais de retard seront déduits du compte de l'utilisateur.<br>"

            }
        })

        document.getElementById('btnEmpruntRetour').addEventListener("click",()=>{
            // if (isRechercheClicked) {
                if (!document.getElementById('radioEmprunt').checked && !document.getElementById('radioRetour').checked && !document.getElementById('radioPerdu').checked){
                    alert("Il faut choissir un option")
                } else if (document.getElementById("isbnLivre").value.trim() == ""){
                    alert("Entrer ISBN du livre")
                } else{
                    //document.getElementById('formEmpruntLivre').submit();
                    axios.post('/gestion/empruntretour', {   
                        clientEmprunt: document.getElementById('clientEmprunt').value,                
                        choix: document.querySelector('input[name="choix"]:checked').value,
                        isbnLivre: document.getElementById('isbnLivre').value.trim()
                    }).then(res=>{
                        document.getElementById('isbnLivre').value='';
                        alert(res.data.message);
                        rechercheClient();

                    })
                }
            // } else{
            //     alert('Il faut faire un recherche du client')
            // }
            

        })


        document.getElementById('btnHistorique').addEventListener("click",()=>{
            document.getElementById('divPerdu').hidden = true;
            document.getElementById('divNonRetourne').hidden = true;    
            document.getElementById('divHistorique').hidden = false;         
        })

        document.getElementById('btnNonRetourne').addEventListener("click",()=>{
            document.getElementById('divPerdu').hidden = true;
            document.getElementById('divNonRetourne').hidden = false;    
            document.getElementById('divHistorique').hidden = true;                         
        })
            
        document.getElementById('btnPerdu').addEventListener("click",()=>{
            document.getElementById('divPerdu').hidden = false;
            document.getElementById('divNonRetourne').hidden = true;    
            document.getElementById('divHistorique').hidden = true;                       
        })
            


    </script>
  

    <footer class="f">
        
    </footer>
</html>
