<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%- include ('../views/partials/header.ejs') %>
        <title>Ajout de livre</title>
</head>

<body>
    <div class="box">
        <div class="section">

            <section class="pt-5">
                <div class="container">
                    <div class="mb-3">
                        <h2>Recherche un livre</h2>
                        <label for="telClient" class="form-label">ISBN du Livre : </label>
                        <input class="form-control" type="text" id="isbn" name="isbn" placeholder="ISBN du Livre :"
                            onchange="isbnChange()" aria-describedby="isbnHelp" maxlength="13">
                        <div id="isbnHelp" class="form-text">Lorem ipsum dolor sit amet.</div>
                    </div>
                    <input type="text" id="idLivre" hidden>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="button" id="btnRechercheLivre"
                            onclick="rechercheLivre()">Recherche</button>
                    </div>
                </div>
            </section>

            <section class="p-5" id="sectionAjout">
                <div class="container">
                    <div class="mb-3">
                        <h2>Ajout de livre</h2>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="auteurLivre">Auteur: </label>
                        <input class="form-control is_invalide" type="text" name="auteurLivre" id="auteurLivre" value="" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="titreLivre">Titre: </label>
                        <input class="form-control" type="text" name="titreLivre" id="titreLivre" value="" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="DateParution">Date de parution: </label>
                        <input class="form-control" type="date" name="dateParution" id="dateParution" value="">
                        <input class="form-control" type="number" min="1900" max="2099" step="1" value="2016">
                        <input class="form-control" type="month" name="dateParution" id="dateParution" value="">                    
                    </div>
                    <div class="mb-3">
                        <label class="form-label"for="nbrCopies">Nombre de copies: </label>
                        <input class="form-control" type="number" name="nbrCopies" id="nbrCopies" value="" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="MaisonEdition">Maison d'édition: </label>
                        <input class="form-control" type="text" name="maisonEdition" id="maisonEdition" value="">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="isbnLivre">ISBN</label>
                        <input class="form-control" type="text" name="isbnLivre" id="isbnLivre" placeholder="ex:1234567890123" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="coutLivre">Coût</label>
                        <input class="form-control" type="number" name="coutLivre" id="coutLivre" min="0.01" step="0.01" value="" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Description">Description </label>
                        <textarea class="form-control" id="descriptionLivre" name="descriptionLivre" rows="4" cols="50"></textarea>
                    </div>
                    <div class="mb-5">
                        <div><label class="form-label" for="photoLivre">Photo</label></div>
                        <input class="form-control-file" type="file" id="photoLivre" name="photoLivre">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Création du livre</button>
                        <button class="btn btn-danger">Annuler la réation</button>
                    </div>


                    
                </div>


            </section>


        </div>
        <%- include ('../views/partials/footer.ejs') %>
    </div>

</body>

<script>
    axios.defaults.baseURL = 'http://localhost:4000'
    function isbnChange(){
            // document.getElementById('ListReservationClient').disabled = true;
            //document.getElementById('btnReserver').disabled = true;
    }

    function rechercheLivre(){
        axios.post('/gestion/rechercheLivre', {                   
                isbn: document.getElementById('isbn').value,
            }).then(res=>{
                if (res.data.message){
                    var confirmation = confirm(res.data.message);
                    if (confirmation){
                        alert('Action ajouter livre')
                        document.getElementById("sectionAjout").hidden =false
                        document.getElementById('isbnLivre').value = document.getElementById('isbn').value
                         
                    }else{
                        alert('Action annulé')
                        document.getElementById('isbn').value=""
                    }
                }else{
                    alert('Action modifier livre')
                }

            })
            
    }


    function uploadimg(){
        const formData = new FormData();
        const imagefile = document.querySelector('#file');
        formData.append("image", imagefile.files[0]);
        axios.post('upload_file', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })


    }

    



</script>

</html>