<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>

    <body>
        <div class="box">
            <div class="section">
                <a href="../public/Images"></a>
                <br>
                <br>
                <br>
                <br>
                
                <br>
                <br>

                <form action="" method="post" action="/ModifierMotDePasse">
                    <label for="ancienMdp">Ancien mot de passe: </label>
                    <input type="password" name="ancienMdp" id="ancienMdp">
                    <br>
                    <br>
                    <label for="nouveauMdp">Nouveau mot de passe: </label>
                    <input type="password" name="nvxMdp" id="nvxMdp">
                    <br>
                    <br>
                    <label for="nouveauMdpDeuxiemeFois">Nouveau mot de passe: </label>
                    <input type="password" name="nvxMdpDeuxiemeFois" id="nvxMdpDeuxiemeFois">
                    <br>
                    <br>

                    <input type="submit">



                </form>
            </div>
            <%- include ('../views/partials/footer.ejs') %>
        </div>
        
    </body>
</html>