<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Modifier le mot de passe</title>
    </head>

    <body>
        <div class="box">
            <div class="section">
                <div class="p-5">
                    <div class="container">
                        <section class="md-5">
                            <form method="post" action="/ModifierMotDePasse" id="form">
                                <div class="mb-3">
                                    <label for="ancienMdp" class="form-label">Ancien mot de passe: </label>
                                    <input type="password" name="ancienMdp" id="ancienMdp" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="nvxMdp" class="form-label">Nouveau mot de passe: </label>
                                    <input type="password" name="nvxMdp" id="nvxMdp" class="form-control" required>  
                                </div>
                                <div class="mb-4">
                                    <label for="nvxMdpDeuxiemeFois" class="form-label">Nouveau mot de passe: </label>
                                    <input type="password" name="nvxMdpDeuxiemeFois" id="nvxMdpDeuxiemeFois" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <input type="button" class="btn btn-lg btn-primary" value="Soumettre" onclick="btnsubmit()">
                                </div>
                        </section>
                    </div>
                </div>

                


                </form>
            </div>
            <%- include ('../views/partials/footer.ejs') %>
        </div>
        
    </body>
    <script>
        axios.defaults.baseURL = 'http://localhost:4000'

        function btnsubmit(){
            if (!document.getElementById('ancienMdp').value.trim()){
                alert("Entrer votre ancien mot de passe")
            } else if (!document.getElementById('nvxMdp').value.trim()){
                alert("Entrer votre nouveau mot de passe")
            }else if (!document.getElementById('nvxMdpDeuxiemeFois').value.trim()){
                alert("Entrer votre confirmation de nouveau mot de passe")
            }else if (document.getElementById('nvxMdp').value.trim() != document.getElementById('nvxMdpDeuxiemeFois').value.trim()){
                alert("Vos nouveaux mot de passe ne sont pas identique")
            } else{
                axios.post('/ModifierMotDePasse', {                   
                    ancienMdp: document.getElementById('ancienMdp').value,
                    nvxMdp: document.getElementById('nvxMdp').value,
                    nvxMdpDeuxiemeFois: document.getElementById('nvxMdpDeuxiemeFois').value
               }).then(res=>{
                    alert(res.data.message);
                    if (res.data.code == 20){
                        location.replace("/profil")
                    }else{
                        location.reload();
                    }
               })


            }
        }

        


    </script>
</html>