<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>

    <body>
        
    </body>
    <footer class="f">
        <p>Author: Mebarkia Mohamed / Mohamed Wafi / Zhi Bo / Omar Khoudair</p>
        <img src="/Images/logo.png" class="logo">
    </footer>
    </html>