<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>
        <link rel="stylesheet" href="/CSS/style.css">
        <title>Modifier le mot de passe</title>
    </head>

    <body>
        <div class="box">
            <div class="section">
                <div class="p-5">
                    <div class="container">
                        <section class="md-5">
                            <form method="post" action="/ModifierMotDePasse" id="form">
                                <div class="mb-3">
                                    <label for="ancienMdp" class="form-label">Ancien mot de passe: </label>
                                    <input type="password" name="ancienMdp" id="ancienMdp" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="nouveauMdp" class="form-label">Nouveau mot de passe: </label>
                                    <input type="password" name="nvxMdp" id="nvxMdp" class="form-control" required>  
                                </div>
                                <div class="mb-4">
                                    <label for="nouveauMdpDeuxiemeFois" class="form-label">Nouveau mot de passe: </label>
                                    <input type="password" name="nvxMdpDeuxiemeFois" id="nvxMdpDeuxiemeFois" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <input type="button" class="btn btn-lg btn-primary" value="Soumettre" onclick="btnsubmit()">
                                </div>
                        </section>
                    </div>
                </div>

                


                </form>
            </div>
            <%- include ('../views/partials/footer.ejs') %>
        </div>
        
    </body>
    <script>
        function btnsubmit(){
            if (!document.getElementById('ancienMdp').value.trim()){
                alert("Entrer votre ancien mot de passe")
            } else if (!document.getElementById('nvxMdp').value.trim()){
                alert("Entrer votre nouveau mot de passe")
            }else if (!document.getElementById('nvxMdpDeuxiemeFois').value.trim()){
                alert("Entrer votre confirmation de nouveau mot de passe")
            }else if (document.getElementById('nvxMdp').value.trim() != document.getElementById('nvxMdpDeuxiemeFois').value.trim()){
                alert("Vos nouveaux mot de passe ne sont pas identique")
            } else{
              form.submit()  
            }
        }
    </script>
</html>