* {
    margin: 0;
    padding: 0;
}

html, body{
    background-image: url("/Images/Logo/logoappweb.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
}
.box {
    min-height: 100%;
    position: relative;
}


.section {
    padding-bottom: 150px;
}

.footer {
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

li {
    list-style: none !important;
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

.logo {
    width: 70px;
    height: 70px;
}

.logoF {
    width: 70px;
    height: 70px;
}



nav ul li a {
    color: #00aeff;
    text-decoration: none;
}


nav ul li:hover ul {
    
    display: list-item !important;
    margin-top: 10px;
    margin-left: -80px;
    text-align: center;
}

nav ul li:hover ul li {
    float: none;
}

.headerImg {
    width: 125px;
    height: 125px;
}


.photoProfil {
    width: 120px;
    height: 120px;
}
