  li {
    list-style:none !important;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }
    li.logoP{
        margin-left: 94%;
        position: fixed;
        }
    .logo{ 
        width: 70px;
        height: 70px;
    }
    .logoF{
        width: 70px;
        height: 70px;
    }
    footer {
        color:  #00aeff ;
        text-align: center;
        padding: 3px;
        background-color: #00c3ff2d ;
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    div .menu{
        background-color: #00aeff75 ;
    }
    nav{
        margin-right: 0%;
    }
    nav ul {
    
    padding:0;
    margin:0;
    width: 100%;
    list-style-type: none;
    }
    nav ul li {
    list-style: none;
    line-height:44px;
    float:left;
    background-color:#ffffff75;
    text-decoration:none;
    }
    nav ul li a {
    color: #00aeff ;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    text-align: left;
    }
    li a:hover {
    border-bottom:3px #ffffff solid;
    transform: matrix(-1,0,0,1,0,0)
    }
    nav ul li ul { display:none;text-decoration:none;} /* Rend le menu déroulant caché par défaut */
    nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    display:list-item !important;
    margin-top:10px;
    margin-left:-80px;
    text-align: center;
    }
    nav ul li:hover ul li {
    float:none;
    }
    img{
        width: 25px;
        height: 25px;
    }
    

    .photoProfil{
        width: 120px;
        height: 120px;
    }
    .rrrr{
        
        padding-left: 20%;
        padding-top: 140px;
        position: absolute;
    }
    div .barreRech{
        width: 800px;
        height: 18px;
    }
    table.tab{
        padding-top: 100px; 
        margin:auto;
    }
    .bouttonTab{
        left: auto;
    }

    form.recherche input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
      }
      
      form.recherche button {
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }
      
      form.recherche button:hover {
        background: #0b7dda;
      }
      
      form.recherche::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .Titre{
        margin: auto;
        padding-top: 50px;
        text-align: center;
        font-size: 30px;        
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


    img.accImg{
        width: 1200px;
        height: 650px;
       
    }
    .slides{
        width: 3600px ;
        animation: glisse 15s infinite;
    }
    .slide {
        float:left;

       
    }
    .slider{
        width: 1200px;
        overflow: hidden;
        margin:auto;
    }

    

    @keyframes glisse{
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(0);
        }
        33%{
            transform: translateX(-1200px);
        }
        43%{
            transform: translateX(-1200px);
        }
        66%{
            transform: translate(-2400px);
        }
        100%{
            transform: translate(0);
        }
        
    }
    h1.pagetitre { 
        color: rgb(76,157,235);
        text-align: center;
    }
    div.livre {
        color: rgb(76,157,235);
        margin:auto;
    }
    td#desc {
        white-space: normal;
        width: 700px;
    }
    img.photolivre {
        width: 250px;
        height: 100%;
    }
    table.clivre {
        width: 100%;
        height: 100%;
        text-align: left;
        border-spacing: 15px;
        margin-bottom: 20px;
        margin-left: 30px;
        max-width: 1000px;
        
    }

    .imgRecherche
    {
    align-content: center;
     width: 259px;
     height: 250px;   
    }
    .Unlivre
    {
        align-items: center;
        margin:auto;
    }
   /*  .titreLivreRecherche
    {
        
    } */
    .TabDesLivres
    {
        align-items: center;
        width: 600px;
        margin:auto;
    }
    .caseTabeLivre
    {
        padding: 100px;
    }

    body.recherche{
        text-align:center;
    }
    th.recherche, td.recherche{
        padding: 30px;
    }
    body.acceuil{
        text-align:center; 
    }